<!-- Login form -->
<!--<div class="row align-items-center">-->

  <!--<div class="col-6 ">-->
    <!--<div class="card mt-5">-->
      <!--<form>-->
        <!--<p class="h5 text-center mb-4">Увійти</p>-->
          <!--<div class="md-form">-->
            <!--<i class="fa fa-envelope prefix grey-text"></i>-->
            <!--<input type="text" id="defaultForm-email" class="form-control" mdbActive>-->
            <!--<label for="defaultForm-email">Ваш email</label>-->
          <!--</div>-->


          <!--<div class="md-form">-->
            <!--<i class="fa fa-lock prefix grey-text"></i>-->
            <!--<input type="password" id="defaultForm-pass" class="form-control" mdbActive>-->
            <!--<label for="defaultForm-pass">Ваш пароль</label>-->
          <!--</div>-->
        <!---->

        <!--<div class="text-center">-->
          <!--<button class="btn btn-default waves-light" mdbRippleRadius>Увійти</button>-->
        <!--</div>-->
      <!--</form>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!-- Login form -->
<div class="card">
  <p class="card-header text-center">Увійти для роботи</p>
  <form class="login-form">
    <div class="form-group">
      <i class="fa fa-envelope prefix grey-text"></i>
      <input
        type="text"
        class="form-control underlined"
        id="email"
        placeholder="Введите ваш email"
      >
    </div>
    <div class="form-group">
      <i class="fa fa-lock prefix grey-text"></i>
      <input
        type="password"
        class="form-control underlined"
        id="password"
        placeholder="Пароль"
      >
    </div>
    <div class="form-group text-center">
      <button type="submit" class="btn btn-default waves-light" mdbRippleRadius>Увійти</button>
      <!--<button type="submit" class="btn btn-block btn-primary">Войти</button>-->
    </div>
    <div class="form-group">
      <p class="text-muted text-xs-center">
        Нет аккаунта? <a href="#">Зарегистрироваться!</a>
      </p>
    </div>
  </form>
</div>

