<!--Footer-->
<footer class="page-footer mdb-color center-on-small-only">

  <!--Footer Links-->
  <div class="container">
    <div class="row">

      <!--First column-->
      <div class="col-md-4">
        <h3 class="title text-center  py-4">Музей історії ЧНТУ</h3>
        <!--Social buttons-->
        <div class="row">
          <div class="col-md-4"><a class="btn btn-small waves-light" mdbRippleRadius><i
                  class="fa fa-facebook"> </i></a></div>
          <div class="col-md-4"><a class="btn btn-small waves-light" mdbRippleRadius><i
                  class="fa fa-twitter"> </i></a></div>
          <div class="col-md-4"><a class="btn btn-small waves-light" mdbRippleRadius><i
                  class="fa fa-google-plus"> </i></a></div>
        </div>
        <div class="text-center">
          <p>Контакти:</p>
          <address>vitaliykucher94@gmail.com</address>
          <address>jentayo1994@gmail.com</address>
        </div>
        <!--/.Social buttons-->
      </div>
      <!--/.First column-->

      <hr class="hidden-md-up">

      <!--Second column-->
      <div class="col-md-4">
        <div class="text-center">
          <a class="">
            <img class="rounded-circle" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-13.jpg" alt="Generic placeholder image">
          </a>
        </div>

        <div class="text-center">
          <h4 class="title mb-3">Ми працюємо:</h4>

          <p><strong>Пн-Пт</strong></p>
          <p><strong>10:00 - 14:30</strong></p>
        </div>
      </div>
      <!--/.Second column-->

      <hr class="hidden-md-up">

      <!--Third column-->
      <div class="col-md-4">
        <h4 class="title py-4">Варто побачити</h4>
        <ul>
          <li class="pb-3"><a href="#!">Історія університету</a></li>
          <li class="pb-3"><a href="#!">Фонди музею</a></li>
          <li class="pb-3"><a href="#!">Візуальна екскурсія</a></li>
          <li class="pb-3"><a href="#!">Про музей</a></li>
        </ul>
      </div>
      <!--/.Third column-->
    </div>
  </div>
  <!--/.Footer Links-->


  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid">
      Всі права захищені © 2017

    </div>
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->
