<app-nav-bar [containerInside]="true">
  <logo>
    <a class="logo navbar-brand" routerLink="/home"><strong>Музей історії ЧНТУ</strong></a>
  </logo>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item waves-light" routerLink="/home" routerLinkActive="active" mdbRippleRadius>
        <a class="nav-link">Головна<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item waves-light" routerLink="/history" routerLinkActive="active" mdbRippleRadius>
        <a class="nav-link">Історія університету</a>
      </li>
      <li class="nav-item waves-light" routerLink="/fonds" routerLinkActive="active" mdbRippleRadius>
        <a class="nav-link">Фонди музею</a>
      </li>
      <li class="nav-item waves-light" routerLink="/visual" routerLinkActive="active" mdbRippleRadius>
        <a class="nav-link">Віртуальна екскурсія</a>
      </li>
      <li class="nav-item waves-light" routerLink="/about" routerLinkActive="active" mdbRippleRadius>
        <a class="nav-link">Про музей</a>
      </li>
      <form class="form-inline waves-light ml-3" mdbWavesEffect>
        <div class="md-form mt-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
        </div>
      </form>
      <li class="nav-item waves-light" routerLink="/login" mdbRippleRadius>
        <a class="nav-link"><i class="fa fa-user"></i>Увійти</a>
      </li>
    </ul>
  </links>
</app-nav-bar>
<router-outlet></router-outlet>
<app-footer></app-footer>
